
@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserHome</h2>
<div>
    @Html.ActionLink("Search Jobs", "Searchjob_click", "SearchJob")
</div>
@*<div>
    @Html.ActionLink("Change Password", "pwd_Load", "PwdChange")
</div>*@

